name: "Release reproducible (r10e) r10edocker binaries"
on:
  push:
    tags:
      - 'v*'
env:
  # Must match "project_name" in "config.json"
  PROJECT_NAME: go-r10e-docker
jobs:
  release-r10e-binaries:
    name: "Release r10e r10edocker"
    runs-on: ubuntu-latest
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v3
        with:
          # Fetch all history for all tags and branches
          fetch-depth: 0

      - name: "Set env"
        run: |
          set -euxo pipefail
          # set RELEASE_VERSION as tag version
          echo "RELEASE_VERSION=${GITHUB_REF#refs/tags/v}" >> $GITHUB_ENV

      - name: "Build r10e apps at tagged revision"
        run: |
          set -euxo pipefail
          cd ${{ github.workspace }}
          git checkout tags/v"${RELEASE_VERSION}" -b v"${RELEASE_VERSION}"
          make r10e-build

      - name: "Ensure app version matches tag version"
        run: |
          set -euxo pipefail
          cd ${{ github.workspace }}
          APP_VERSION="$(r10e-build/r10edocker-linux-amd64 --version | rev | cut -f1 -d' ' | rev)"
          if [ "$APP_VERSION" != "$RELEASE_VERSION" ]; then
            echo "version (${APP_VERSION}) in version/version.go and tagged version (${RELEASE_VERSION}) mismatch"
            exit 1
          fi

      - name: "Release versioned"
        # v1.10.0
        uses: ncipollo/release-action@58ae73b360456532aafd58ee170c045abbeaee37
        with:
          allowUpdates: true
          artifacts: "r10e-build/*"
          token: ${{ secrets.GITHUB_TOKEN }}